* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.general-container{
    background-color: rgb(0, 0, 0);
    
    
    
}

.header-container{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 1vh 2vh;
}

.main-container{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-grow: 9;
}

.footer-container{
    background-color: rgb(36, 35, 35);
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    color: white;
    justify-content: space-between;
}

.btn{
    border-radius: 8px;
    padding: 0.5rem 1rem;
    border: none;
    font-weight: bold;
    margin-right: 0.3rem;
    color: white;
    background-color: rgba(150, 144, 144, 0.381);
}
.btn-small{
    border-radius: 8px;
    padding: 0.5rem 0.5rem;
    border: none;
    font-weight: bold;
    color: white;
    background-color: rgba(150, 144, 144, 0.381);
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0.6rem;
    column-gap: 0.3rem;
    padding: 2vh 10vh;
}



.icon-container{
display: flex;
align-items: center;
justify-content: center;
padding-right: 0.7rem;
}

i{
    font-size:smaller;
    color: white;
}
.little-container{
padding:1rem 0.5rem;
}

.card {
    position: relative;
    flex-basis: calc((100% - 60px) / 7);
    flex-grow: 1;
    display: block;

    
}

img{
height: auto;
width: 100%;

}

.user-name{
    color: white;
    padding: .3rem;
    font-size: 1rem;
    background-color:rgba(150, 144, 144, 0.381);
    position: absolute;
    top: 79%;
}
.icon-group{
    display: flex;
}

.grn{
    color: limegreen;
}

.end-meeting{
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    background-color: rgba(150, 144, 144, 0.381);
    padding: 1.5rem 1rem;
}